<!-- INCLUDE overall_header.html -->

<form action="{S_PROFILE_ACTION}" method="post" id="remind">

	<div class="panel">
		<div class="inner">

			<div class="content">
				<h2>重置密码</h2>

				<fieldset class="fields2">
					<!-- IF ERROR -->
					<dl>
						<dd class="error">{ERROR}</dd>
					</dl><!-- ENDIF -->
					<dl>
						<dd class="error ajax-msg hide"></dd>
					</dl>
					<dl>
						<dt><label for="email_or_tel">电子邮箱或手机号：</label></dt>
						<dd><input type="text" tabindex="1" name="email_or_tel" id="email_or_tel" size="25"
								   maxlength="100"
								   value="{EMAIL_OR_TEL}" class="inputbox autowidth" title="电子邮箱或手机号"
								   autocomplete="off"/>
						</dd>
					</dl>
					<dl>
						<dt><label for="verify_code">验证码：</label></dt>
						<dd><input type="text" tabindex="2" name="verify_code" id="verify_code" size="15"
								   value="{VERIFY_CODE}"
								   class="inputbox autowidth" title="验证码" autocomplete="off"/>

							<input type="button" value="获取验证码" name="sendEmail" class="button2 verify-code-btn"/>&nbsp;
						</dd>
					</dl>
					<dl>
						<dt><label
							for="new_password">{L_NEW_PASSWORD}{L_COLON}</label><br/><span>{L_PASSWORD_EXPLAIN}</span>
						</dt>
						<dd><input type="password" tabindex="3" name="new_password" id="new_password" size="25"
								   value="{NEW_PASSWORD}" class="inputbox autowidth" title="{L_NEW_PASSWORD}"
								   autocomplete="off"/></dd>
					</dl>
					<dl>
						<dt><label for="password_confirm">{L_CONFIRM_PASSWORD}{L_COLON}</label></dt>
						<dd><input type="password" tabindex="4" name="password_confirm" id="password_confirm" size="25"
								   value="{PASSWORD_CONFIRM}" class="inputbox autowidth" title="{L_CONFIRM_PASSWORD}"
								   autocomplete="off"/></dd>
					</dl>
					<dl>
						<dt>&nbsp;</dt>
						<dd>{S_HIDDEN_FIELDS}<input type="submit" name="submit" id="submit" class="button1"
													value="{L_SUBMIT}" tabindex="5"/>&nbsp; <input type="reset"
																								   value="{L_RESET}"
																								   name="reset"
																								   class="button2"/>
						</dd>
					</dl>
					{S_FORM_TOKEN}
				</fieldset>
			</div>

		</div>
	</div>
</form>

<!-- INCLUDE overall_footer_start.html -->

<script type="text/javascript">
	// <![CDATA[
	(function($) {

		var $sendEmailOrTelVerifyCodeBtn = $(".verify-code-btn").first();

		$sendEmailOrTelVerifyCodeBtn.sendEmailOrTelVerifyCode({
			emailOrTelId: "#email_or_tel",
			errorElement: ".error.ajax-msg",
			/*$registerForm: $forgetPasswordForm,
			norobotId: "form#forget-password #ac\\.sig",
			norobot: emailOrTelNorobot,*/
			existRequirement: RD_Global.existRequirement_Exist
		});
	})(jQuery);
	// ]]>
</script>

<!-- INCLUDE overall_footer_end.html -->
