<!-- INCLUDE overall_header.html -->


<div class="rd-row" style="margin: 0 -0.75rem">

	<h2 class=" col s12">宠物狗在线互动教程</h2>
	<div class="col s12 m6 offset-m3">

		<div class="card rd-tutorial">
			<div class="card-content rd-row">
				<h3 class="card-title col s12">指南</h3>
				<!-- BEGIN content_rows -->
				<!-- IF content_rows.S_FIRST_ROW -->
				<ul class="col s12">
					<!-- ENDIF -->
					<li><a href="{content_rows.U_VIEW_CONTENT}"
						   class="t-content">{content_rows.CONTENT_DISPLAY_NAME}</a>

						<ul>
							<!-- BEGIN content_rows.GUIDE_ARTICLE_ARR -->
							<li><a href="{content_rows.GUIDE_ARTICLE_ARR.U_VIEW_TOPIC}">
								{content_rows.GUIDE_ARTICLE_ARR.TOPIC_TITLE} </a></li>
							<!-- END content_rows.GUIDE_ARTICLE_ARR -->
						</ul>
					</li>

					<!-- IF content_rows.S_LAST_ROW -->
				</ul>
				<!-- ENDIF -->
				<!-- END content_rows -->
				<h3 class="card-title col s12">工具/帮助</h3>
				<!-- BEGIN content_rows -->
				<!-- IF content_rows.S_FIRST_ROW -->
				<ul class="col s12">
					<!-- ENDIF -->
					<li><a href="{content_rows.U_VIEW_CONTENT}"
						   class="t-content">{content_rows.CONTENT_DISPLAY_NAME}</a>

						<ul>
							<!-- BEGIN content_rows.ASSIST_ARTICLE_ARR -->
							<li><a href="{content_rows.ASSIST_ARTICLE_ARR.U_VIEW_TOPIC}">
								{content_rows.ASSIST_ARTICLE_ARR.TOPIC_TITLE} </a></li>
							<!-- END content_rows.ASSIST_ARTICLE_ARR -->
						</ul>
					</li>

					<!-- IF content_rows.S_LAST_ROW -->
				</ul>
				<!-- ENDIF -->
				<!-- END content_rows -->
			</div>
		</div>
	</div>

</div>


<!-- INCLUDE overall_footer.html -->
